server:
  port: 10001

sidecar:
  port: 8000

endpoints:
  restart:
    enabled: true
  shutdown:
    enabled: true
  health:
    sensitive: false

#zuul:
#  ignored-services: "*"
#  routes:
#    simpleserver:
#      path: /simple-service/**
#      url: http://simpleserver:8088/
#    simpleui:
#      path: /simple-ui/**
#      url: http://simpleui:8089/
#    simpleserverui:
#      path: /simple-service-ui/**
#      url: http://simpleserverui:8090/